datamapplot @ git+https://github.com/TutteInstitute/datamapplot.git@cda9fa5e86714a7937130c31ee04fa63f23317a5
uvicorn
fastapi
gradio==5.16.1
numpy
requests
pyalex
compress-pickle
transformers
adapters
torch
tqdm
pyarrow
numba==0.58.1
umap-learn==0.5.7
pynndescent==0.5.12
sentence-transformers==3.3.1
dask[complete]==2024.4.1
datashader>=0.16
opinionated
IPython
scikit-learn