uvicorn
fastapi
gradio
numpy
requests
pyalex
compress-pickle
transformers
adapters
torch
tqdm
pyarrow
datamapplot==0.3.0
numba==0.58.1
umap-learn==0.5.7
pynndescent==0.5.12
sentence-transformers==3.3.1
dask[complete]==2023.3.0
datashader>=0.16
opinionated
IPython
scikit-learn